$green: #1db954;
$yellow: #f6cd61;
$red: #b92c49;
$blue: #118ab2;
$gray: #b3b3b3;
$background: #121212;
$dark: #212121;
$light: #fbfbfb;

:export {
    green: $green;
    yellow: $yellow;
    red: $red;
    blue: $blue;
    gray: $gray;
    dark: $dark;
    light: $light;
}
